body{

	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#all{
	background: #FFF2DF;

}

#header{
	background: #0070A6;
	min-height: 55px;
	padding: 33px 5%;
}

#nav{ 
	background: #0095C6;
	min-height: 60px;
	padding: 0 5%;
}
#main{  
	min-height: 444px;
	padding: 0 5%;
}

#welcome{
	width: 70%;
	float: left;
	padding: 0 5% 5% 0;

}
#sidebarwidget{
	width: 25%;
	float: left;

}

#footer{
	clear: both;
	background: #0070A6;
	min-height:22px;
	padding: 33px 5%;
}

#header h1{
     color: white;
     margin: 0;
     padding: 0;


}

#nav ul{
  margin: 0;
  padding: 0;
  height: auto;


}

#nav ul li {
   list-style: none;
   display: inline-block;
   float: left;
   height: 60px;
   text-align: center;

}
#nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	line-height: 40px;
	display: block;
	padding: 10px 33px;

}

#nav ul li a:hover, #nav ul li a.active{
	 background: #00A9E1;

}

 p{
  line-height: 25px;
  text-align: justify;

 }


.grid1, .grid2{
	float: left;
	width: 30%;
	margin-right: 5%;
	line-height: 25px;



}

.grid3
{
	float: left;
	width: 30%;
	margin: 0;
	line-height: 25px;}

	img{
		
		width: 100%;

      

	}